# Auto detect text files and perform LF normalization
* text=auto

# JAR Files And Dependencies
*.zip binary
*.jar binary
*.dll binary
*.so binary
*.jnilib binary
*.dylib binary

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain

*.obj  diff=astextplain
